<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="form-group">
        <%= form_for :session, url: signin_path do |f| %>
          <%= f.label "Email" %>
          <%= f.text_field :email, class: "form-control" %>

          <%= f.label "Password" %>
          <%= f.password_field :password_digest, class: "form-control" %>
          <br>
          <%= f.submit 'Sign In', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
