.container
  .row
    .col-xs-12.text-center
      - if current_teacher
        %h1= current_teacher.id
        %a{:href => "teachers/#{current_teacher.id}"}= current_teacher.name
        = link_to 'Sign Out!', signout_path, method: :delete, class: 'btn btn-default'
      - else
        %h1 Teacher Sign Up
        = link_to 'Sign Up!', teachers_signup_path, class: 'btn btn-default'
        %h1 Teacher Sign In
        = link_to 'Sign In!', signin_path, class: 'btn btn-default'

  .row
    .col-md-4.text-center
      %h2 All Teachers
      - @teachers.each do |teacher|
        %li= teacher.name


